<h2>Upload file</h2>
<%= s3_cors_fileupload_form, :id => 'fileupload' %>

<div class="javascript-templates">
  <%= render 'template_upload' %>
  <%= render 'template_uploaded' %>
  <%=# render 'template_download' %>
</div>

<script>
  //<![CDATA[
    $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
        dataType: 'xml',
        sequentialUploads: true,
        downloadTemplateId: null,
        downloadTemplate: null
      });
      
      // Load existing files:
      $.getJSON('/source_files', function (files) {
        $.each(files, function(index, value) { 
          $('#upload_files tbody').append(tmpl('template-uploaded', value));
        });
      });
    });
    
    // used by the jQuery File Upload
    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };
  //]]>
</script>