defaults: &defaults
  access_key_id: your_access_key_id
  secret_access_key: your_secret_access_key
  acl: public-read # options: private, public-read, public-read-write, authenticated-read
  max_file_size: 524288000 # 500 megabytes

development:
  <<: *defaults
  bucket: your_development_bucket_name
    
test:
  <<: *defaults
  bucket: your_development_bucket_name
  
production:
  <<: *defaults
  bucket: <%= ENV['S3_BUCKET'] || 'your_production_bucket_name_here' %>
