/ To be used with Javascript-Templates (see: https://github.com/blueimp/JavaScript-Templates)
/ The template to display files available for download (the stock one from the jquery-fileupload script)
%script#template-download{:type => "text/x-tmpl"}
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  %tr.template-download.fade
    %td
      %span.preview
        {% if (file.thumbnailUrl) { %}
        %a{:download => "{%=file.name%}", :href => "{%=file.url%}", :title => "{%=file.name%}", :"data-gallery" => ''}
          %img{:src => "{%=file.thumbnailUrl%}"}/
        {% } %}
    %td
      %p.name
        %a{:href => "{%=file.url%}", :title => "{%=file.name%}", :download => "{%=file.name%}", :"data-gallery" => !"{%= file.thumbnailUrl ? ' ' : '' %}".html_safe.empty? && ''} {%=file.name%}
      {% if (file.error) { %}
      %div
        %span.label.label-important Error
        {%=file.error%}
      {% } %}
    %td
      %span.size {%=o.formatFileSize(file.size)%}
    %td
      %button.btn.btn-danger.delete{"data-type" => "{%=file.delete_type%}", "data-url" => "{%=file.delete_url%}", "data-confirmation" => "Are you sure?", "data-xhr-fields" => !"{% if (file.delete_with_credentials) { %} {'withCredentials': true} {% } %}".blank? && "{% if (file.delete_with_credentials) { %} {'withCredentials': true} {% } %}"}
        %i.icon-trash.icon-white
        %span Delete
      %input.toggle{:name => "delete", :type => "checkbox", :value => "1"}
  {% } %}
