/ To be used with Javascript-Templates (see: https://github.com/blueimp/JavaScript-Templates)
/ The template to display files that have been uploaded to S3 already
%script#template-uploaded{:type => "text/x-tmpl"}
  %tr.template-uploaded{:id => "source_file_{%=o.id%}"}
    {% if (o.image == true) { %}
    %td.preview
      %a{:download => "{%=o.name%}", :href => "{%=o.url%}", :rel => "gallery", :title => "{%=o.name%}"}
        %img{:src => "{%=o.url%}", :style => 'width:80px; height:56px;'}
    {% } else { %}
    %td
    {% } %}
    %td.name
      %a{:download => "{%=o.name%}", :href => "{%=o.url%}", :rel => "{%=o.thumbnail_url&&'gallery'%}".html_safe, :title => "{%=o.name%}"} {%=o.name%}
    %td.size
      %span {%=formatFileSize(o.size)%}
    %td{:colspan => "2"}
    %td.delete
      %button.btn.btn-danger{"data-type" => "DELETE", "data-url" => "{%=o.delete_url%}", "data-confirmation" => "Are you sure?"}
        %i.icon-trash.icon-white
        %span Delete
      %input{:name => "delete", :type => "checkbox", :value => "1"}